<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="CheckinApp_ManejoArchivos.CheckinApp_ManejoArchivos">
	<uses-sdk />
	<application android:label="CheckinApp_ManejoArchivos" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>